.elementor-widget-hello-widget {
	.hello-widget {
		padding: 10px;
	}
	.hello-widget__heading {
		color: var(--hello-heading-color, #FF7070);
		font-size: var(--hello-heading-font-size, 24px);
		margin: 0;
	}

	.hello-widget__controls {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease
	}
	&:hover {
		.hello-widget__controls {
			visibility: visible;
			opacity: 1;
		}
	}

	.hello-widget__range {
		width: 200px;
	}
}
